.counter__container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 1rem;
    .counter__count-text {
        margin: 0 2rem;
        font-size: 1.5rem;
    }
    .counter__btn {
        background-color: darken($color:$primary-color, $amount: 10);
        border: 2px solid #fff;
        border-radius: 0.5rem;
        color: #fff;
        font-size: 0.75rem;
        height: 2rem;
        padding: 0.25rem;
        width: 2rem;
        &:disabled {
            background-color: $background-color;
        }
        &:hover:not([disabled]) {
            background-color: $terciary-hover;
        }
    }
}