// Colors
$primary-color: #a3b18a;
$secundary-color: #588157;
$terciary-color: #3a5a40;

$background-color: #dad7cd;
$background-card: #f2f2f2;
$background-overlay: #58815798;

$primary-hover: #8da761;
$secundary-hover: #588157;
$terciary-hover: #3a5a40;

$typography-color: #3a5a40;
$typography-color2: #f2f2f2;
$typography-link-hover: #a3b18a;

$error-color: #e15e6e;

// Typography-sizes

$font-size-sm: 0.75rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 2rem;
$navbar-height: 4.5rem; 


